<h1 mat-dialog-title class="text-center">{{title}}</h1>
<form [formGroup]="customForm">
    <div mat-dialog-content align="center" >
        <div class="mb-3">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input type="text" required matInput [(ngModel)]="driver.firstName" formControlName="firstName">
                <mat-hint align="start" class="form-hint-font-size">No more than 50 characters</mat-hint>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'required')">Fist name is
                    required</mat-error>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'maxlength')">Limit
                    exceed</mat-error>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'pattern')">Accept only
                    letters</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input type="text" required matInput [(ngModel)]="driver.lastName"
                 formControlName="lastName">
                <mat-hint align="start" class="form-hint-font-size">No more than 50 characters</mat-hint>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'required')">Last name is
                    required</mat-error>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'maxlength')">Limit
                    exceed</mat-error>
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'pattern')">Accept only
                    letters</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field>
                <mat-label>Company</mat-label>
                <mat-select [(value)]="choosenCompany" required>
                    @for (company of companies; track company) {
                    <mat-option [value]="company.companyId">{{company.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field class="w-72">
                <mat-label>License</mat-label>
                <input type="text" class="w-50" matInput [ngModel]="driver.license" formControlName="licenseNumber">
                <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'licenseNumber', 'maxlength')">Limit
                    exceed</mat-error>
                <!-- <mat-error class="form-hint-font-size"
                    *ngIf="FormsChecker.controlHasError(this.customForm,'licenseNumber', 'pattern')">Format: name.surname
                    domen.com</mat-error> -->
            </mat-form-field>
        </div>

    </div>
    <div align="center" mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!customForm.valid" type="submit"
            (click)="onSubmit()">Save</button>
        <button mat-flat-button (click)="onExit()">Exit</button>
    </div>
</form>