<div class="mt-5 relative overflow-x-auto shadow-md sm:rounded-lg">
    <!-- Filtering inputs-->
    <div class="pb-4 bg-blue-400 dark:bg-gray-900">
        <div class="flex">
            <!-- Bus number input -->
            <div class="relative mt-1 mr-5">
                <label for="table-search-left" class="sr-only">Search</label>
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="table-search-left"
                    class="block w-50 pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search by bus number" (input)="searchByNumber($event.target)">
            </div>

            <!-- Brand input -->
            <div class="relative mt-1">
                <label for="table-search-right" class="sr-only">Search</label>
                <div class="absolute inset-y-0 rtl:inset-r-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="table-search-right"
                    class="block w-60 pt-2 ps-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search by bus bus brand" (input)="searchByBrand($event.target)">
            </div>
        </div>
    </div>
    <!--Buses table-->
    <table class="w-full h-2/3 text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
        <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Bus №
                </th>
                <th scope="col" class="px-6 py-3">
                    Brand
                </th>
                <th scope="col" class="px-6 py-3">
                    Capacity
                </th>
                <th scope="col" class="px-6 py-3">
                    Driver
                </th>
                <th scope="col" class="px-6 py-3">
                    Company
                </th>
                <th scope="col" class="px-6 py-3">
                    Rating
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of buses; track $index)
            {
            <tr class="bg-blue-500 border-b border-blue-500 hover:bg-blue-400">
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    {{item.number}}
                </th>
                <td class="px-6 py-4">
                    {{item.brand}}
                </td>
                <td class="px-6 py-4">
                    {{item.capacity}}
                </td>
                <td class="px-6 py-4">
                    {{item.driverName}}
                </td>
                <td class="px-6 py-4">
                    {{item.companyName}}
                </td>
                <td class="px-9 py-4">
                    {{item.rating}}
                </td>
                <td class="px-6 py-4">
                    <button class="mr-3">
                        <mat-icon fontIcon="edit"></mat-icon>
                    </button>
                    <button>
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

<!-- Pagination -->
<mat-paginator class="bg-blue-500" [length]="totalItems" [showFirstLastButtons]="true" [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage" (page)="pageChanged($event)" />

<!--Creation of new bus-->
<div *hasAnyRole="['Admin']" class="flex justify-between mt-5">
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/create-bus">
        Create new bus</button>
</div>